<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.bigcamp4edu.meaningfinder"
    android:versionCode="1"
    android:versionName="0.1" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.bigcamp4edu.meaningfinder.LogoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.bigcamp4edu.meaningfinder.JoinActivity"
            android:label="@string/title_activity_join" android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="org.bigcamp4edu.meaningfinder.QuestionActivity" android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="org.bigcamp4edu.meaningfinder.QuestionViewActivity" android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="org.bigcamp4edu.meaningfinder.ListActivity" android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="org.bigcamp4edu.meaningfinder.SetupActivity" android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="org.bigcamp4edu.meaningfinder.StarActivity" android:screenOrientation="portrait">
        </activity>

        <service android:name="org.bigcamp4edu.meaningfinder.NotifyService" >
        </service>

        <activity
            android:name="org.bigcamp4edu.meaningfinder.DialogActivity"
            android:theme="@android:style/Holo.Light.ButtonBar.AlertDialog" android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="org.bigcamp4edu.meaningfinder.StarListActivity" android:screenOrientation="portrait">
        </activity>
        
        <receiver android:name="BootReceiver" >
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
